<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head data-th-fragment="header">
    <meta charset="utf-8"/>
    <title>网站后台管理系统 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../new/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../new/assets/css/font-awesome.min.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="../new/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <link rel="stylesheet" href="../new/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="../new/assets/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="../new/assets/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="../new/css/style.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="../new/assets/css/ace-ie.min.css"/>
    <![endif]-->
    <script src="../new/assets/js/ace-extra.min.js"></script>
    <!--[if lt IE 9]>
    <script src="../new/assets/js/html5shiv.js"></script>
    <script src="../new/assets/js/respond.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script src="../new/js/jquery-1.9.1.min.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">window.jQuery || document.write("<script src='../new/assets/js/jquery-1.10.2.min.js'>" + "<" + "script>");</script>
    <![endif]-->
    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='../new/assets/js/jquery.mobile.custom.min.js'>" + "<" + "script>");
    </script>
    <script src="../new/assets/js/bootstrap.min.js"></script>
    <script src="../new/assets/js/typeahead-bs2.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../new/assets/js/excanvas.min.js"></script>
    <![endif]-->
    <script src="../new/assets/js/ace-elements.min.js"></script>
    <script src="../new/assets/js/ace.min.js"></script>
    <script src="../new/assets/layer/layer.js" type="text/javascript"></script>
    <script src="../new/assets/laydate/laydate.js" type="text/javascript"></script>
    <script src="../new/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="../business/base.js" type="text/javascript"></script>
    <script src="../business/common.js" type="text/javascript"></script>

</head>
</html>