<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>NSTL</title>
	<link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/ui.css" />
	<link rel="stylesheet" href="css/index.css" />
</head>

<body>
	<div class="row main">
		<div class="left">
			<nav class="navbar navbar-dark">
				<div class="navbar-brand">
					NSTL<span class="title-text">文献资源综合管理系统</span>
				</div>
			</nav>
			<nav class="menu">
				<div class="menu-item active" title="我的工作台">
					<i class="material-icons menu-icon">av_timer</i>
					<span class="menu-text">我的工作台</span>
					<span class="menu-arrow"></span>
				</div>
				<div class="menu-item" title="资源荐购">
					<i class="material-icons menu-icon">library_books</i>
					<span class="menu-text">资源荐购</span>
					<span class="menu-arrow"></span>
				</div>
				<div class="menu-item" title="荐购遴选">
					<i class="material-icons menu-icon">receipt</i>
					<span class="menu-text">荐购遴选</span>
					<span class="menu-arrow"></span>
				</div>
				<div class="menu-item" title="订购管理">
					<i class="material-icons menu-icon">shopping_cart</i>
					<span class="menu-text">订购管理</span>
					<span class="menu-arrow"></span>
				</div>
				<div class="menu-item" title="数据库管理">
					<i class="material-icons menu-icon">dns</i>
					<span class="menu-text">数据库管理</span>
					<span class="menu-arrow"></span>
				</div>
				<div class="menu-item" title="数据维护">
					<i class="material-icons menu-icon">find_replace</i>
					<span class="menu-text">数据维护</span>
					<span class="menu-arrow"></span>
				</div>
				<div class="menu-item" title="统计分析">
					<i class="material-icons menu-icon">pie_chart</i>
					<span class="menu-text">统计分析</span>
					<span class="menu-arrow"></span>
				</div>
				<div class="menu-item" title="经费管理">
					<i class="material-icons menu-icon">monetization_on</i>
					<span class="menu-text">经费管理</span>
					<span class="menu-arrow"></span>
				</div>
				<div class="menu-item" title="系统管理">
					<i class="material-icons menu-icon">settings</i>
					<span class="menu-text">系统管理</span>
					<span class="menu-arrow"></span>
				</div>
			</nav>
		</div>
		<div class="right col">
			<nav class="navbar navbar-light">
				<button class="navbar-toggler">
					<i class="material-icons">
						menu
					</i>
				</button>
				<span class="navbar-text">
					<i class="circle"></i>欢迎xxx单位xxx角色xxx
				</span>
			</nav>
			<div class="content">
				
			</div>
		</div>
	</div>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/index.js"></script>
</body>

</html>